@using Exchange
@model BDA.Service.EMail.Services.EMailModelUser

@{
    Layout = "/Views/EMail/_EMailBase.cshtml";
}

@section HeaderContent
{
    <title>Zur&uuml;cksetzen Ihres Passworts!</title>
}

<!-- body -->
@* ReSharper disable once Html.Obsolete *@
<table class="body-wrap" bgcolor=#f6f6f6>
    <tr>
        <td></td>
        @* ReSharper disable once Html.Obsolete *@
        <td class="container" bgcolor="#f6f6f6">
            <img src="@(AppSettings.Current().DcSignalHost)/Content/fotec.png" width="200" height=90/>
            <br/>
            <br/>
            <br/>
            <h3> Anforderung zum Passwort zur&uuml;cksetzen </h3>
            <!-- content -->
            <div class="content">
                <table>
                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <td style="text-align: left" font-family:Arial>
                                        <p>
                                            @* ReSharper disable once RedundantSuppressNullableWarningExpression *@
                                            Sehr geehrte(r) Frau/Herr @Model!.Firstname @Model.Lastname,<br/> wir haben ihre Anfrage auf Passwort&auml;nderung erhalten!<br/>
                                            &Auml;ndern Sie Ihr Passwort über folgenden Link:
                                            <a href="@Model.Link">@Model.Link</a>
                                            <br/>
                                            Nach erfolgreicher &Auml;nderung schicken wir Ihnen eine Best&auml;tigungemail.
                                        </p>
                                        @* ReSharper disable once Asp.Entity *@
                                        @* ReSharper disable Asp.Entity *@
                                        <p>Mit freundlichen Gr&uuml&szligen,<br/>ihr Team der Fotec!</p>
                                        @* ReSharper restore Asp.Entity *@
                                    </td>
                                </tr>
                            </table>
                            <br/><br/>
                        </td>
                    </tr>
                </table>
            </div>
            <!-- /content -->

        </td>
        <td></td>
    </tr>

</table>