$fontsizelarge: 20px;
$fontsizedefault: 16px;
$fontsizesmall: 12px;
$fontsizesmalldetail: 10px;

.labelstyeditheader{
    text-align:center;
    font-size: $fontsizelarge;
}

.labelstyeditdescription{
    font-size: $fontsizedefault;
}